<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
  <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/main.css">
  <title>장곡중 발열체크</title>
</head>
<body>
  <div class="container">
    <div class="status row text-center">
      <div class="col total">
        등록된 전체: <%= data.length %>명
      </div>
      <div class="col checked">
        체크완료: <%= data.filter((d) => d.checked).length %>명
      </div>
      <div class="col nocheck">
        체크안함: <%= data.filter((d) => !d.checked).length %>명
      </div>
    </div>

    <table id="table" class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th class="th-sm">바코드 ID</th>
          <th class="th-sm">학년/반/번호</th>
          <th class="th-sm">이름</th>
          <th class="th-sm">체크여부</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((d) => { %>
          <tr>
            <td><%= d.id %></td>
            <td><%= d.grade %>학년 <%= d.class %>반 <%= d.number %>번</td>
            <td><%= d.name %></td>
            <% if (d.checked) { %>
              <td><i class="yes-icon"></i> 체크완료 <button class="m-0 ml-2 p-1 btn btn-secondary" onclick="uncheck('<%= d.id %>')">체크취소</button></td>
            <% } else { %> 
              <td><i class="no-icon"></i> 체크안함 <button class="m-0 ml-2 p-1 btn btn-success" onclick="check('<%= d.id %>')">체크하기</button></td>
            <% } %> 
          </tr>
          <% }) %> 
        </tbody>
      </table>

      <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        웹페이지에 문제가 발생하면 "3-3 박민혁 혹은 3-4 배재현, 임태현"을 불러주세요 (맞춤법/오타 지적은 환영입니다)
      </div>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        모든 저작권은 (칠곡) 장곡중학교와 Software And Guiders(SWAG, 장곡중 소프트웨어 동아리)에 있으며, 무단 복제 및 2차 배포를 금합니다<br />
        일부 디자인은 트위터에서 제작한 Bootstrap을 사용하였습니다 (MIT License), 또한 전자정부 프레임워크의 영감을 받아 제작되었습니다
      </div>
    </div>
    <script src="/src/main.js"></script>
  </body>
  </html>