<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>대전버드내중학교 발열체크</title>

   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">
   <script src="https://kit.fontawesome.com/1213a7cbad.js" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
   <link rel="stylesheet" href="https://cdn.trinets.xyz/d/DIX~EFssGB.css">
   <link rel="stylesheet" href="/src/main.css">
   <script>
    function isIE() { // IE는 사회악입니다.
      const ua = navigator.userAgent;
      const is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;
      return is_ie;
    }
    if (isIE()) window.location.replace('/alert')
  </script>

  <%# 내보내기일경우만 실행됨 %>
  <% if (query.export == 1) { %>
    <script>
      // 페이지가 다 로딩되면, 저장하고 다시 로딩
      window.onload = () => {
        exportTableToCsv('table', '대전버드내중-발열체크-조회결과', () => {
          let params = (new URL(document.location)).searchParams;
          params.delete('export')
          window.location.replace('/main?' + params.toString())
        })
      }
    </script>
  <% } %>
 </head>
 <body>

  <!-- 기록 모달 -->
  <div class="modal fade" id="history" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fluid h-100 p-5 m-0 w-100 mw-100">
      <div class="modal-content h-100 w-100">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">기록</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="admin = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <embed class="w-100 h-100" src="/history">
        </div>
      </div>
    </div>
  </div>

  <!-- 관리자 모달 -->
  <div class="modal fade top" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog modal-frame modal-top" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="reset()">발열정보 초기화</button>
            <button type="button" class="btn btn-info" data-dismiss="modal" onclick="add()">사용자 추가</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#history">과거 기록</button>
            <button type="button" class="btn btn-secondary text-white" data-dismiss="modal" onclick="admin = false">닫기</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 메인 -->
  <div class="container">
    <div class="main-content" id="panel">

      <!-- 머리부분 (제목, 통계) -->
      <div class="header aqua-gradient pb-5">
        <div class="container-fluid">
          <div class="header-body">
            <div class="row align-items-center py-4">

              <!-- 왼쪽, 제목 -->
              <div class="col-lg-6 col-7">
                <h1 class="text-white">대전버드내중학교 발열 체크</h1>
              </div>

              <!-- 오른쪽, 버튼들 -->
              <div class="col-lg-6 col-5 text-right">
                <button class="btn text-white" data-toggle="modal" data-target="#frameModalBottom" onclick="admin = true">관리자</button>
                <button onclick="window.location.replace('/main')" class="btn text-white" id="refresh">새로고침 <span class="refresh">60</span></button>
              </div>

            </div>

            <!-- 통계 -->
            <div class="row mb-3">

              <!-- 1. 발열 대상자 -->
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">발열 검사 대상자</h5>
                        <span class="h4 font-weight-bold mb-0"><%= data.length %>명 등록됨</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                         <i class="fas fa-users"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 2. 미검사자 -->
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">미검사자</h5>
                        <span class="h4 font-weight-bold mb-0">
                          <%= data.filter((d) => !d.checked).length %>명
                          (<%= Math.round(data.filter((d) => !d.checked).length / data.length * 100) %>%)
                        </span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-gray text-white rounded-circle shadow">
                         <i class="fas fa-user-times"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 3. 검사 완료자 -->
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">검사 완료자</h5>
                        <span class="h4 font-weight-bold mb-0">
                          <%= data.filter((d) => d.checked).length %>명
                          (<%= Math.round(data.filter((d) => d.checked).length / data.length * 100) %>%)
                        </span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                         <i class="fas fa-user-check"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 4. 발열 확인됨 -->
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">발열 확인됨</h5>
                        <span class="h4 font-weight-bold mb-0">
                          <%= data.filter((d) => d.checked === 2).length %>명
                        </span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-danger text-white rounded-circle shadow">
                         <i class="fas fa-user-cog"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- 몸통 부분(리스트, 정보들) -->
      <div class="container-fluid mt--6">
        <div class="row">

          <!-- 왼쪽, 전체 리스트 -->
          <div class="col-xl-8">
            <div class="card fulltarget">

              <!-- 상단 컨트롤러 -->
              <div class="card-header border-0">
                <div class="row align-items-center">

                  <!-- 테이블 제목 -->
                  <div class="col-md">
                    <h3 class="mb-0">전체 리스트</h3>
                  </div>

                  <!-- 조회시스템 -->
                  <div class="col-md-8 text-right">
                    <form action="/main" method="get">
                      <div class="input-group">

                        <!-- 학년 -->
                        <select name="grade" id="grade" class="browser-default custom-select">
                          <option value="-1">전체</option>
                          <option value="0" <%- query.grade == 0 ? 'selected' : '' %>>선생님</option>
                          <option value="1" <%- query.grade == 1 ? 'selected' : '' %>>1학년</option>
                          <option value="2" <%- query.grade == 2 ? 'selected' : '' %>>2학년</option>
                          <option value="3" <%- query.grade == 3 ? 'selected' : '' %>>3학년</option>
                        </select>

                        <!-- 반 -->
                        <select name="class" id="class" class="browser-default custom-select">
                          <option value="-1">전체</option>
                          <% for (let i = 1; i < 13; i++) { %>
                            <option value="<%= i %>" <%- query.class == i ? 'selected' : '' %>><%= i %>반</option>
                          <% } %>
                        </select>

                        <!-- 내보내기 여부(0 or 1), 여러번 내보내지 않도록 0으로 고정 -->
                        <input type="hidden" name="export" value="0">

                        <!-- 오른쪽 버튼 3개 -->
                        <div class="input-group-append">
                          <button class="btn btn-md primary-color text-white m-0 px-3 py-2 z-depth-0 waves-effect" type="submit">조회</button>
                          <button class="btn btn-md success-color text-white m-0 px-3 py-2 z-depth-0 waves-effect" type="submit" onclick="document.getElementsByName('export')[0].value = 1">내보내기</button>
                          <button class="btn btn-md info-color text-white m-0 px-3 py-2 z-depth-0 waves-effect" type="button" onclick="fullscreen()">확대 / 축소</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <!-- 스크롤 시작 -->
              <div id="scrollTrack" class="table-responsive table-ss">

                <!-- 테이블 시작 -->
                <table id="table" class="table align-items-center table-flush">

                  <!-- 테이블 머리 -->
                  <thead>
                    <tr>
                      <th class="th-sm">학년/반/번호</th>
                      <th class="th-sm">이름</th>
                      <th class="th-sm">체크여부</th>
                    </tr>
                  </thead>

                  <!-- 테이블 몸통 -->
                  <tbody>

                    <%# 조회 시작 %>
                    <% rdata = data %>
                    <% if (-1 < query.grade) rdata = rdata.filter((d) => d.grade == query.grade) %>
                    <% if (-1 < query.class) rdata = rdata.filter((d) => d.class == query.class) %>
                    <% if (-1 < query.number) rdata = rdata.filter((d) => d.number == query.number) %>
                    <% if (-1 < query.checked) rdata = rdata.filter((d) => d.checked == query.checked) %>
                    <%# 조회 끝 %>

                    <%# 렌더링 %>
                    <% rdata.forEach((d) => { %>
                      <tr>
                        <% if (d.grade < 1) { %>
                          <td>선생님 #<%= d.number %></td>
                        <% } else { %>
                          <td><%= d.grade %>학년 <%= d.class %>반 <%= d.number %>번</td>
                        <% } %>
                        <td><%= d.name %></td>
                        <td>
                          <% if (d.checked === 1) { %>
                            <i class="fas fa-check-circle text-success"></i> 체크 완료 <button class="m-0 ml-2 p-1 btn btn-secondary text-white" onclick="uncheck('<%= d.id %>')">체크 취소</button>
                          <% } else if (d.checked === 0) { %>
                            <i class="far fa-circle"></i> 체크 안함 <button class="m-0 ml-2 p-1 btn btn-success" onclick="check('<%= d.id %>')">체크 하기</button>  <button class="m-0 ml-2 p-1 btn btn-danger" onclick="check('<%= d.id %>', true)">발열자로 체크하기</button>
                          <% } else if (d.checked === 2) { %>
                            <i class="fas fa-exclamation-circle text-danger"></i> 발열 확인 <button class="m-0 ml-2 p-1 btn btn-secondary text-white" onclick="uncheck('<%= d.id %>')">체크 취소</button>
                          <% } %>
                        </td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
                <!-- 테이블 끝 -->

              </div>
              <!-- 스크롤 끝 -->

            </div>
          </div>

          <!-- 오른쪽, 정보들 -->
          <div class="col-xl-4">
            <div class="card">
              <div class="card-header bg-transparent">
                <div class="row align-items-center">
                  <div class="col">
                    <h5 class="h3 mb-0">학년별 보기</h5>
                  </div>
                </div>
              </div>

              <%# 조회 시작 %>
              <% const stats0 = data.filter((d) => d.grade === 0) %>
              <% const stats1 = data.filter((d) => d.grade === 1) %>
              <% const stats2 = data.filter((d) => d.grade === 2) %>
              <% const stats3 = data.filter((d) => d.grade === 3) %>
              <%# 조회 끝 %>

              <div class="card-body">
                <h3><strong>선생님</strong></h3>
                <h4>
                  전체: <%= stats0.length %>명 /
                  완료: <%= stats0.filter((d) => d.checked > 0).length %>명<br />
                  정상: <%= stats0.filter((d) => d.checked === 1).length %>명 /
                  발열: <%= stats0.filter((d) => d.checked === 2).length %>명 /<br />
                  검사 안함: <%= stats0.length - stats0.filter((d) => d.checked > 0).length %>명
                </h4>
              </div>
              <div class="card-body">
                <h3><strong>1학년</strong></h3>
                <h4>
                  전체: <%= stats1.length %>명 /
                  완료: <%= stats1.filter((d) => d.checked > 0).length %>명<br />
                  정상: <%= stats1.filter((d) => d.checked === 1).length %>명 /
                  발열: <%= stats1.filter((d) => d.checked === 2).length %>명 /<br />
                  검사 안함: <%= stats1.length - stats1.filter((d) => d.checked > 0).length %>명
                </h4>
              </div>
              <div class="card-body">
                <h3><strong>2학년</strong></h3>
                <h4>
                  전체: <%= stats2.length %>명 /
                  완료: <%= stats2.filter((d) => d.checked > 0).length %>명<br />
                  정상: <%= stats2.filter((d) => d.checked === 1).length %>명 /
                  발열: <%= stats2.filter((d) => d.checked === 2).length %>명 /<br />
                  검사 안함: <%= stats2.length - stats2.filter((d) => d.checked > 0).length %>명
                </h4>
              </div>
              <div class="card-body">
                <h3><strong>3학년</strong></h3>
                <h4>
                  전체: <%= stats3.length %>명 /
                  완료: <%= stats3.filter((d) => d.checked > 0).length %>명<br />
                  정상: <%= stats3.filter((d) => d.checked === 1).length %>명 /
                  발열: <%= stats3.filter((d) => d.checked === 2).length %>명 /<br />
                  검사 안함: <%= stats3.length - stats3.filter((d) => d.checked > 0).length %>명
                </h4>
              </div>
            </div>
          </div>
        </div>

        <!-- 발 부분 -->
        <footer class="footer pt-0">
          <div class=" align-items-center justify-content-lg-between">
            <div class="copyright text-muted">
              <!-- 저작권 -->
              &copy; 모든 저작권은 (칠곡) 장곡중학교 및 개발자(박민혁, 임태현, 배재현)에게 있으며, 무단 복제 및 2차 배포를 금합니다<br />
              최근 변경사항은 <a href="https://github.com/SoftWareAndGuider/Covid-Check/tree/bdnms">이곳</a>를 참고하시고
              기타 문의사항은 박민혁(<a href="mailto:pmhstudio.pmh@gmail.com">pmhstudio.pmh@gmail.com</a>)에게 보내주시면 친절히 답변해드립니다<br />
              <br />
              Hosted with <span style="color: #e25555;">&hearts;</span> by <a href="https://trinets.xyz" style="color: #6bedd4">Tritium Networks</a>.
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <!-- 끝 -->
  <script src="/src/main.js"></script>
 </body>
</html>
