<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/src/main.js"></script>
  <title>레거시</title>
  <style>
    table, td, th {  
      border: 1px solid #ddd;
      text-align: left;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 15px;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <td>학년/반/번호</td>
        <td>학년/반/번호</td>
        <td>체크 여부</td>
      </tr>
    </thead>
    <tbody>
      <form action="/legacy" method="get">
        <input type="submit" value="">
      </form>
      <% rdata = data %> 
      <% if (-1 < query.grade) rdata = rdata.filter((d) => d.grade == query.grade) %> 
      <% if (-1 < query.class) rdata = rdata.filter((d) => d.class == query.class) %> 
      <% if (-1 < query.number) rdata = rdata.filter((d) => d.number == query.number) %> 
      <% if (-1 < query.checked) rdata = rdata.filter((d) => d.checked == query.checked) %> 
      <% rdata.forEach((d) => { %>
        <tr>
          <% if (d.grade < 1) { %>
            <td>선생님 #<%= d.number %></td>
          <% } else { %>
            <td><%= d.grade %>학년 <%= d.class %>반 <%= d.number %>번</td>
          <% } %>
          <td><%= d.name %></td>
          <td>
            <% if (d.checked === 1) { %>
              <i class="fas fa-check-circle text-success"></i> 체크 완료 <button class="m-0 ml-2 p-1 btn btn-secondary text-white" onclick="uncheck('<%= d.id %>')">체크 취소</button>
            <% } else if (d.checked === 0) { %>
              <i class="far fa-circle"></i> 체크 안함 <button class="m-0 ml-2 p-1 btn btn-success" onclick="check('<%= d.id %>')">체크 하기</button>  <button class="m-0 ml-2 p-1 btn btn-danger" onclick="check('<%= d.id %>', true)">발열자로 체크하기</button>
            <% } else if (d.checked === 2) { %>
              <i class="fas fa-exclamation-circle text-danger"></i> 발열 확인 <button class="m-0 ml-2 p-1 btn btn-secondary text-white" onclick="uncheck('<%= d.id %>')">체크 취소</button>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>